{% extends "common_popup.html" %}
{% block page_resource %}
<!-- Hostname 목록 Multi 입력을 위한 codemirror Text Area 추가를 위해 css, js 추가 Start -->
<link href="{{ url_for('static', filename='css/libs/codemirror/5.59.2/codemirror.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/libs/codemirror/5.59.2/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/codemirror/5.59.2/mode/meta.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/codemirror/5.59.2/addon/mode/loadmode.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/codemirror/5.59.2/addon/display/autorefresh.js') }}"></script>

<link href="{{ url_for('static', filename='css/libs/codemirror/5.59.2/theme/solarized.css') }}" rel="stylesheet">
<!-- Hostname 목록 Multi 입력을 위한 codemirror Text Area 추가를 위해 css, js 추가 End -->

<script type="text/javascript">
// CodeMirror 에서 제공하는 Syntax 모드를 사용하기 위한 BaseURL.
// - Jinja2로 하위 URL(%N/%N.js) 의 처리가 어려워 해당 부분은 js 에서 처리.
CodeMirror.modeURL = "{{ url_for('static', filename='js/libs/codemirror/5.59.2/mode/') }}";
</script>
<script src="{{ url_for('static', filename='js/node/popup/popup_node_lst.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="popup-contents">
    <!-- 노드집합표현식 + Hostname 목록 항목 추가 -->
    <p class="popup-text">노드집합표현식 혹은 Hostname 목록 선택 후 "조회" 하여 확인 후, "추가/변경" 버튼을 통해 노드집합정보를 반영합니다.</p>

    <div class="search_wrap">
        <div class="con_title">
            <h3 class="sub-title">조회 조건</h3>
            <div id="rule_comment"  class="title-txt">정규식을 통해 조회하고, 해당 <b>조회 조건</b>을 반영</div>
            <div id="exact_comment" class="title-txt" style="display: none;">개행문자로 구분된 Hostname 목록을 입력하여 조회하고, <b>조회된 데이터를 개별 Rule</b> 로 반영(1건이상 입력 필요)</div>
            <div class="radio-right">
                <label class="label_radio"><input type="radio" id="ruleType" name="ruleType" class="Radio radio_c" value="rule"/>노드집합표현식</label>
                <label class="label_radio"><input type="radio" name="ruleType" class="Radio radio_c" value="exact"/>Hostname 목록</label>
            </div>
        </div>

        <div class="search_table_wrap">
            <div id="rule_div"><!-- 노드집합표현식 div Start -->
                <div class="search_area_title">Hostname</div>
                <div class="search_area_input">
                    <input type="text" id="hostname_regx" name="hostname_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                </div>
                <div class="search_area_title">OS 종류</div>
                <div class="search_area_input">
                    <input type="text" id="os_type_regx" name="os_type_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                </div>
                <div class="search_area_title">OS 이름</div>
                <div class="search_area_input">
                    <input type="text" id="os_name_regx" name="os_name_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                </div>
                <div class="search_area_title">OS 버전</div>
                <div class="search_area_input">
                    <input type="text" id="os_version_regx" name="os_version_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                </div>
                <div class="search_area_init_btn">
                    <button id="btn_init" name="btn_init" class='Button btn sm'>초기화</button>
                </div>
                <div class="search_area_init_btn" style="padding-left:13px;">
                    <button id="btn_tag_search" name="btn_init" class='Button btn sm'>태그찾기</button>
                </div>
                <div style="display: block;"></div><!-- divide line -->
                <div class="table_wrap tbl_tag popup w724px">
                    <div class="search_area_title">태그</div>
                    <span class="tip_btn">
                        <button class="Button btn-ico sx borderless btn-help" id="btn_help">도움말</button>
                        <div class="Tooltip help">
                            태그 키는  Exact. 로 입력합니다.<br/>
                            태그 값은  Regex. 로 입력합니다.<br/>
                            태그 추가/제거는  &#8853; , &#8854; 버튼을 사용합니다.<br/>
                            태그 정보 입력 후,  조회 버튼으로 결과를 확인합니다.
                        </div>
                    </span>
                    <div class="btn-right">
                        <div class="tip_btn">
                            <button id="btn_add_tag" class="Button btn-ico sxx borderless btn-plus2">행 추가</button>
                            <div class="Tooltip">행 추가</div>
                        </div>
                        <div class="tip_btn">
                            <button id="btn_del_tag" class="Button btn-ico sxx borderless btn-minus2">행 삭제</button>
                            <div class="Tooltip">행 삭제</div>
                        </div>
                    </div>
                    <div class="list" id="tag_grid"></div>
                </div>
            </div><!-- 노드집합표현식 div End -->
            <div id="exact_div" class="sc_input_content"><!-- Hostname 목록 div Start -->
                <div class="search_area_title">
                    <label for="case_include"><input type="checkbox" id="case_include" class="checkbox_c mg-left20px" name="case_include" checked>Hostname 대소문자 포함</label>
                </div>
                <div id="btn_area" class="btn-right">
                    <div class="tip_btn">
                        <button class="Button btn-ico btn-template-down" id="btn_template_download">템플릿 다운로드</button>
                        <div class="Tooltip">템플릿 다운로드</div>
                    </div>
                    <div class="tip_btn">
                        <button class="Button btn-ico btn-upload" id="btn_upload">업로드</button>
                        <div class="Tooltip">엑셀업로드</div>
                    </div>
                </div>
                <textarea id="script_content" name="script_content" class="Textarea" rows="10" placeholder=""></textarea>
            </div><!-- Hostname 목록 div End -->
            <div id="sc_info" class="sc_input_content w500px mg-left20px mg-bottom10px"></div>
            <div class="search_area_sel_btn">
                <button id="btn_sel" name="btn_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
            </div>
        </div>
    </div>

    <!-- list :s-->
    <div class="table_wrap">
        <div class="con_title">
            <h3 class="sub-title">평가 결과</h3>
            <div id="disableInclude" class="label-checkbox">
                <label for="disable_include"><input type="checkbox" id="disable_include" class="checkbox_c" name="disable_include" checked/>disable 노드 포함 반영</label>
            </div>
            <div id="export_btn_area" class="btn-right">
                <div class="tip_btn">
                    <button class="Button btn-ico btn-down" id="btn_export">내보내기</button>
                    <div class="Tooltip" data-position="left">평가결과<br/>내보내기</div>
                </div>
            </div>
        </div>
        <!-- 평가 결과 노드 검색 Start -->
        <div class="grid_search_wrap">
            <div class="grid_search_input">
                <input type="text" id="search_keyword" name="search_keyword" class="Textinput textinput_c w180px h20px" placeholder="Any Text."/>
            </div>
            <div class="grid_search_btn">
                <button id="btn_search" name="btn_search" class='Button btn sm btn_sx bg-blue'><span class='icon_search'></span>검색</button>
                <button id="btn_next"   name="btn_next"   class='Button btn sm btn_sx bg-blue'>▼</button>
                <button id="btn_prev"   name="btn_prev"   class='Button btn sm btn_sx bg-blue'>▲</button>
                <button id="btn_end"    name="btn_end"    class='Button btn sm btn_sx bg-gray'>초기화</button>
            </div>
            <div id="search_info" class="grid_search_cnt"></div>
        </div>
        <!-- 평가 결과 노드 검색 End -->
        <div class="list" id="node_grid"></div>
    </div>
    <!-- list :e-->
    <!--button-->
    <div class="popup-btn_wrap">
        <button id="btn_add"   name="btn_add"   class="Button btn bg-red">추가/변경</button>
        <button id="btn_close" name="btn_close" class="Button btn">닫기</button>
    </div>
    <!--//button-->
</div>
{% endblock %}
