{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/node/node_dtl.js') }}"></script>
<script type="text/javascript">
{% if response is defined %}
var response = JSON.parse('{{ response|tojson }}');
{% endif %}
</script>
{% endblock %}

{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- top area -->
    <div class="cont_head">
        <h2 class="title">노드 정보</h2>
        <div class="title-txt">노드 상세정보 확인이 가능합니다.</div>
    </div>

    <div class="cont_body">
        <div id="base_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">기본정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>노드세션 ID</th>
                        <td id="node_session_id"></td>
                    </tr>
                    <tr>
                        <th>CSP 리소스ID</th>
                        <td id="csp_resource_id"></td>
                    </tr>
                    <tr>
                        <th>Agent Ver.</th>
                        <td id="agent_ver"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="host_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">HOST정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>Hostname</th>
                        <td id="hostname"></td>
                    </tr>
                    <tr>
                        <th>OS 종류</th>
                        <td id="os_type"></td>
                    </tr>
                    <tr>
                        <th>OS 이름</th>
                        <td id="os_name"></td>
                    </tr>
                    <tr>
                        <th>OS 버전</th>
                        <td id="os_version"></td>
                    </tr>
                    <tr>
                        <th>IP 주소</th>
                        <td id="remote_addr"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="history_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">이력정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>Heart Beat</th>
                        <td id="heart_beat"></td>
                    </tr>
                    <tr>
                        <th>생성일시</th>
                        <td id="crt_date"></td>
                    </tr>
                    <tr>
                        <th>
                            <span>Conflict 세션</span>
                            <!--
                            absolute position 인 Alopex Tooltip 의 경우, 상위 요소가 relative 인 경우 정상 위치에 rendering 되지 않음.
                            Alopex 에 의해서 자동 생성되는 상위 요소인 Alopex Table 을 강제로 static 으로 변경함.
                            -->
                            <div class="tip_btn">
                                <button class="Button btn-ico sx borderless btn-help">도움말</button>
                                <div class="Tooltip help">
                                    인스턴스의 재기동 또는 복제 시에<br/>
                                    일시적으로 기존 노드와 Conflict 가 발생할 수 있으나<br/>
                                    정상 통신되는 경우 15초 이내 자동 해소 되며,<br/>
                                    약 10분 동안 통신이 안되는 경우 자동 삭제 됩니다.<br/>
                                </div>
                            </div>
                        </th>
                        <td id="node_past_session"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="tag_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">태그정보</h3>
                <div class="title-txt">AWS 의 경우, 태그 변경 시 마다 EC2의 "인스턴스 메타데이터의 태그 허용" 또는 "인스턴스 재부팅" 이 필요합니다.</div>
            </div>
            <div class="list" id="tag_grid"></div>
        </div>

        <!-- Button area -->
        <div class="btn-wrap btn-right">
            <button class="Button btn" id="btn_list_node">목록</button>
        </div>
    </div>
</div>
<!-- //contents -->
{% endblock %}