{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/node/node_lst.js') }}"></script>
<script type="text/javascript">
var sse_enable = '{{ sse_enable | safe }}';
{% if response is defined %}
var response = JSON.parse('{{ response | tojson }}');
{% endif %}
</script>
{% endblock %}

{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- top area -->
    <div class="cont_head">
        <h2 class="title">노드 목록</h2>
        <div class="title-txt">노드를 조회합니다. 대소문자 구분하고, AND 조건이며, 노드집합표현식에 Regular Expression 을 사용할 수 있습니다.</div>
    </div>

    <div class="cont_body">
        <div class="search_wrap">
            <div class="con_title">
                <h3 class="sub-title">조회 조건</h3>
            </div>

            <div class="search_table_wrap">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="search_area_title w70px">고객사</div>
                    <div class="form-group-inline mr-3" style="width: 150px">
                        <div class="multiselect-native-select">
                          <select class="form-control multiselect" multiple="multiple" id="customer_select">
                          </select>
                        </div>
                      </div>

                    <div class="search_area_title w90px">Hostname</div>
                    <div class="search_area_input">
                        <input type="text" id="hostname" name="hostname" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title w70px">OS 종류</div>
                    <div class="search_area_input">
                        <input type="text" id="os_type" name="os_type" class="Textinput textinput_c w130px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title w70px">IP 주소</div>
                    <div class="search_area_input">
                        <input type="text" id="remote_addr" name="remote_addr" class="Textinput textinput_c w130px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title w90px">서버운영자</div>
                    <div class="search_area_input">
                        <input type="text" id="sys_operator1_nm" name="sys_operator1_nm" class="Textinput textinput_c w130px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_init_btn">
                        <button id="btn_init" name="btn_init" class='Button btn sm'>초기화</button>
                    </div>
                    <div class="search_area_init_btn" style="padding-left:13px;">
                        <button id="btn_tag_search" name="btn_tag_search" class='Button btn sm'>태그찾기</button>
                    </div>
                    <div class="search_area_sel_btn">
                        <button id="btn_sel" name="btn_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
                    </div>
                </div>
            </div>

            <div class="adv_search_table_wrap" style="display: none;">
                <div class="adv_search_title">Advanced Search</div>
                <div class="adv_search_box_title">노드집합표현식</div>
                <div class="tip_btn">
                    <button class="Button btn-ico sx borderless btn-help">도움말</button>
                    <div class="Tooltip help" data-position="right">
                        정규표현식을 사용한 검색이 가능합니다.<br/>
                        태그 검색을 위해서는 검색을 위한 태그 키를 직접 입력하고,<br/>
                        정규표현식을 태그 값에 사용하여 검색할 수 있습니다.
                    </div>
                </div>
                <div class="adv_search_box">
                    <div class="search_area_title w80px">Hostname</div>
                    <div class="search_area_input">
                        <input type="text" id="hostname_regx" name="hostname_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                    </div>
                    <div class="search_area_title w70px">OS 종류</div>
                    <div class="search_area_input">
                        <input type="text" id="os_type_regx" name="os_type_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                    </div>
                    <div class="search_area_title w70px">OS 이름</div>
                    <div class="search_area_input">
                        <input type="text" id="os_name_regx" name="os_name_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                    </div>
                    <div class="search_area_title w70px">OS 버전</div>
                    <div class="search_area_input">
                        <input type="text" id="os_version_regx" name="os_version_regx" class="Textinput textinput_c w150px" placeholder="Regex."/>
                    </div>
                    <div style="display: block;"></div><!-- divide line -->
                    <div class="table_wrap tbl_tag w720px">
                        <div class="search_area_title">태그</div>
                        <span class="tip_btn">
                            <button class="Button btn-ico sx borderless btn-help">도움말</button>
                            <div class="Tooltip help">
                                태그 키는  Exact. 로 입력합니다.<br/>
                                태그 값은  Regex. 로 입력합니다.<br/>
                                태그 추가/제거는  &#8853; , &#8854; 버튼을 사용합니다.<br/>
                                태그 정보 입력 후,  조회 버튼으로 결과를 확인합니다.
                            </div>
                        </span>
                        <div class="btn-right">
                            <div class="tip_btn">
                                <button class="Button btn-ico sxx borderless btn-plus2" id="btn_add_tag">행 추가</button>
                                <div class="Tooltip">행 추가</div>
                            </div>
                            <div class="tip_btn">
                                <button class="Button btn-ico sxx borderless btn-minus2" id="btn_del_tag">행 삭제</button>
                                <div class="Tooltip">행 삭제</div>
                            </div>
                        </div>
                        <div class="list" id="tag_grid"></div>
                    </div>
                    <div id="guide_info" class="guide_info">
                        ^ : 문자열의 시작 - ex. CentOS 조회 : ^CentOS<br/>
                        $ : 문자열의 끝 - ex. db 또는 db+숫자로 끝나는 Host 조회 : db[0-9]*$<br/>
                        | : 선택패턴(or) - ex. Amazon Linux 또는 CentOS 조회 : Amazon|CentOS<br/>
                        <br/>
<!--                        <a href="http://localhost:8000/Regexp.html" target="_blank"><b><i><u>도움말(정규표현식)</u></i></b></a>-->
                        <a href="#" id="regexp_help"><b><i><u>도움말(정규표현식)</u></i></b></a>
                    </div>
                </div>
            </div>
            <div class="btn-center">
                <button class="Button btn-adv btn-adv_search_open"></button>
                <div class="Tooltip">Advanced Search 열기</div><!--Advanced Search 열기/Advanced Search 닫기-->
            </div>
        </div>

        <div class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">조회 결과</h3>
                <div class="btn-right">
                    <div class="tip_btn">
                        <button class="Button btn-ico btn-down" id="btn_export">내보내기</button>
                        <div class="Tooltip">노드목록<br/>내보내기</div>
                    </div>
                </div>
            </div>

            <div class="list" id="node_grid"></div>
        </div>
    </div>
</div>
<!-- //contents wrap-->
{% endblock %}