{% extends "common_popup.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/task/popup/popup_task_select.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="popup-contents">
    <div class="con_title">
        <h3 class="sub-title">
            발행되지 않은 버전(Rev. 0)이 존재합니다.<br/>
            확인 또는 편집 하시려는 버전을 선택해주세요.
        </h3>
    </div>
</div>
<!--button-->
<div class="popup-btn_wrap msg">
    <button id="btn_go_editing" name="btn_go_editing" class="Button btn bg-gray">Editing(Rev. 0)</button>
    <button id="btn_go_running" name="btn_go_running" class="Button btn bg-gray"></button>
</div>
<!--//button-->
{% endblock %}
