{% extends "common_popup.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/task/popup/popup_execution_condition.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="popup-contents">
    <p class="popup-text">태스크 실행을 위한 조건을 지정하고, 태스크를 실행한다.</p>

    <div class="table_wrap">
        <div class="con_title">
            <h3 class="sub-title">기본정보</h3>
        </div>
        <table class="Table Form-type">
            <colgroup>
                <col class="w120px">
                <col class="wAuto">
                <col class="w120px">
                <col class="wAuto">
            </colgroup>
            <tbody>
            <tr>
                <th>태스크 ID</th>
                <td id="task_id"></td>
                <th>Revision No.</th>
                <td id="revision_no"></td>
            </tr>
            <tr>
                <th>실행인자</th>
                <td colspan="3">
                    <input type="text" id="argument" name="argument" class="Textinput textinput_c" placeholder="Script Argument"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table_wrap">
        <div class="con_title">
            <h3 class="sub-title">특정노드실행</h3>
        </div>
        <div class="search_wrap">
            <div class="search_table_wrap">
                <div class="search_area_title">Hostname</div>
                <div class="search_area_input">
                    <input type="text" id="hostname" name="hostname" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                </div>
                <div class="search_area_title">IP주소</div>
                <div class="search_area_input">
                    <input type="text" id="remote_addr" name="remote_addr" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                </div>
                <div class="search_area_title">OS계정</div>
                <div class="search_area_input">
                    <input type="text" id="account" name="account" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                </div>
                <div class="search_area_init_btn">
                    <button id="btn_init" name="btn_sel" class='Button btn sm'>초기화</button>
                </div>
                <div class="search_area_sel_btn">
                    <button id="btn_sel" name="btn_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
                </div>
            </div>
        </div>

        <div class="three-layout table_wrap">
            <div class="three-contents-mid-button">
                <div class="table_wrap">
                    <div class="con_title">
                        <h5 class="sub-title">조회 결과</h5>
                    </div>
                    <div class="list" id="node_grid"></div>
                </div>
            </div>
            <div class="three-contents-mid-button">
                <div class="tip_btn" style="margin-top: 130px;">
                    <button class="Button btn-ico btn-arrow_right" id="btn_add_node">추가/등록</button>
                    <div class="Tooltip">추가</div>
                </div>
                <div class="tip_btn" style="margin-top: 10px;">
                    <button class="Button btn-ico btn-arrow_left" id="btn_del_node">삭제</button>
                    <div class="Tooltip">제거</div>
                </div>
            </div>
            <div class="three-contents-mid-button">
                <div class="table_wrap">
                    <div class="con_title">
                        <h5 class="sub-title">실행 대상</h5>
                    </div>
                    <div class="list" id="target_grid"></div>
                </div>
            </div>
        </div>
    </div>
    <!--button-->
    <div class="popup-btn_wrap">
        <button id="btn_execute" name="btn_execute" class="Button btn bg-red">실행</button>
        <button id="btn_close"   name="btn_close"   class="Button btn">닫기</button>
    </div>
    <!--//button-->
</div>
{% endblock %}
