{% extends "common_popup.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/task/popup/popup_execution_dry_run.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="popup-contents">
    <p class="popup-text">태스크 실행을 위한 조건을 지정하고, 태스크를 모의 실행한다.</p>

    <div id="dryrun_info">
        <!-- Next Page -->
        <div id="btn_next" class="btn-fixed" style="top: 350px; right: 0px;">
            <button id="btn_next_page" class="Button btn-nav next btn-next_page"></button>
            <div class="Tooltip" data-position="bottom">결과보기 Page</div>
        </div>

        <div id="base_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">기본정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w120px">
                    <col class="wAuto">
                    <col class="w120px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                <tr>
                    <th>태스크 ID</th>
                    <td id="task_id"></td>
                    <th>Revision No.</th>
                    <td id="revision_no"></td>
                </tr>
                <tr>
                    <th>실행유형</th>
                    <td>
                        <select id="runner_type" name="runner_type" class="Select Select_c"
                                data-bind-option="value:text"
                                data-bind="options:data, selectedOptions: option_selected"
                                data-placeholder="선택"></select>
                    </td>
                    <th>실행 ID</th>
                    <td>
                        <div class="input_wrap">
                            <input id="runner_id" name="runner_id" class="Textinput" placeholder="Exact."/>
                            <button id="btn_sel_runner_id" name="btn_sel_runner_id" class='Button input'><span class='icon_search_input'></span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <th>실행일시</th>
                    <td>
                        <div class="Dateinput" data-default-date="true">
                            <input id="run_date" name="run_date"/>
                            <div class="Calendar"></div>
                            <select id="run_hour"   name="run_hour"   class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            <div class="time_unit_label">시</div>
                            <select id="run_minute" name="run_minute" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            <div class="time_unit_label">분</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="target_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">특정노드실행</h3>
            </div>
            <div class="search_wrap">
                <div class="search_table_wrap">
                    <div class="search_area_title">Hostname</div>
                    <div class="search_area_input">
                        <input type="text" id="hostname" name="hostname" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title">IP주소</div>
                    <div class="search_area_input">
                        <input type="text" id="remote_addr" name="remote_addr" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title">OS계정</div>
                    <div class="search_area_input">
                        <input type="text" id="account" name="account" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_init_btn">
                        <button id="btn_init" name="btn_sel" class='Button btn sm'>초기화</button>
                    </div>
                    <div class="search_area_sel_btn">
                        <button id="btn_sel" name="btn_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
                    </div>
                </div>
            </div>

            <div class="three-layout table_wrap">
                <div class="three-contents-mid-button">
                    <div class="table_wrap">
                        <div class="con_title">
                            <h5 class="sub-title">조회 결과</h5>
                        </div>
                        <div class="list" id="node_grid"></div>
                    </div>
                </div>
                <div class="three-contents-mid-button">
                    <div class="tip_btn" style="margin-top: 130px;">
                        <button class="Button btn-ico btn-arrow_right" id="btn_add_node">추가/등록</button>
                        <div class="Tooltip">추가</div>
                    </div>
                    <div class="tip_btn" style="margin-top: 10px;">
                        <button class="Button btn-ico btn-arrow_left" id="btn_del_node">삭제</button>
                        <div class="Tooltip">제거</div>
                    </div>
                </div>
                <div class="three-contents-mid-button">
                    <div class="table_wrap">
                        <div class="con_title">
                            <h5 class="sub-title">실행 대상</h5>
                        </div>
                        <div class="list" id="target_grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="result_info">
        <!-- Previous Page -->
        <div id="btn_prev" class="btn-fixed" style="top: 350px; left: 0px;">
            <button id="btn_prev_page" class="Button btn-nav prev btn-prev_page"></button>
            <div class="Tooltip" data-position="bottom">모의실행 Page</div>
        </div>
        <div class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">모의실행결과</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w120px">
                    <col class="wAuto">
                    <col class="w120px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                <tr>
                    <th>실행권한점검</th>
                    <td id="executable_permission"></td>
                    <th>실행시간점검</th>
                    <td id="runnable_time"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">결과노드검색</h3>
            </div>
            <div class="search_wrap">
                <div class="search_table_wrap">
                    <div class="search_area_title">Hostname</div>
                    <div class="search_area_input">
                        <input type="text" id="result_hostname" name="result_hostname" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title">IP주소</div>
                    <div class="search_area_input">
                        <input type="text" id="result_remote_addr" name="result_remote_addr" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title">OS계정</div>
                    <div class="search_area_input">
                        <input type="text" id="result_account" name="result_account" class="Textinput textinput_c w150px" placeholder="SubStr."/>
                    </div>
                    <div class="search_area_title">점검결과</div>
                    <div class="search_area_input">
                        <select id="result_result" name="result_result" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                    </div>
                    <div class="search_area_init_btn">
                        <button id="btn_result_init" name="btn_result_sel" class='Button btn sm'>초기화</button>
                    </div>
                    <div class="search_area_sel_btn">
                        <button id="btn_result_sel" name="btn_result_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
                    </div>
                </div>
            </div>
            <div class="table_wrap">
                <div class="con_title">
                    <h5 class="sub-title">조회 결과</h5>
                </div>
                <div class="list" id="result_node_grid"></div>
            </div>
        </div>
    </div>
    <!--button-->
    <div class="popup-btn_wrap">
        <button id="btn_dry_run" name="btn_dry_run" class="Button btn bg-red">모의실행</button>
        <button id="btn_close"   name="btn_close"   class="Button btn">닫기</button>
    </div>
    <!--//button-->
</div>
{% endblock %}
