{% extends "common_popup.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/task/popup/popup_task_notilist.js') }}"></script>
<script type="text/javascript">
<!-- site 별로 notilist 관련 옵션 추가 -->
var noti_condition = '{{ notilist_condition | safe }}';
var noti_event  = '{{ notilist_event | safe }}';
var noti_method = '{{ notilist_method | safe }}';

</script>
{% endblock %}

{% block page_content %}

<div class="popup-contents">
    <p class="popup-text">태스크 알림목록 팝업 입니다.</p>

    <div class="con_title">
        <h3 class="sub-title">알림목록 정보</h3>
    </div>

    <table class="Table Form-type">
        <colgroup>
            <col class="w180px">
            <col class="wAuto">
        </colgroup>
        <tbody>
            <tr>
                <th>이벤트</th>
                <td>
                    <select id="notilist_event" name="notilist_event" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                </td>
            </tr>
            <tr>
                <th>조건</th>
                <td>
                    <select id="notilist_condition" name="notilist_condition" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                </td>
            </tr>
            <tr>
                <th>방법</th>
                <td>
                    <select id="notilist_method" name="notilist_method" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                </td>
            </tr>
            <tr>
                <th>받는 곳</th>
                <td>
                    <div class="input_wrap">
<!--                        <input type="text" id="notilist_receiver" name="notilist_receiver" class="Textinput textinput_c w500px" placeholder="receiver address.">-->
                        <input type="text" id="notilist_receiver" name="notilist_receiver" class="Textinput validation_tgt w500px" placeholder="receiver address.">
                        <div style="display: inline-block;">으로 알림 발송</div>
                        <p class="validation_msg"></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--button-->
    <div class="popup-btn_wrap">
        <button id="btn_add"   name="btn_add"   class="Button btn bg-red">추가</button>
        <button id="btn_close" name="btn_close" class="Button btn">닫기</button>
    </div>
    <!--//button-->
</div>
{% endblock %}
