{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/user/user_dtl.js') }}"></script>
<script type="text/javascript">
{% if response is defined %}
var response = JSON.parse('{{ response|tojson }}');
var mask_view = '{{ mask_view | safe }}';
{% endif %}
</script>
{% endblock %}

{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- top area -->
    <div class="cont_head">
        <h2 class="title">사용자 정보</h2>
        <div class="btn-right">
            <div class="tip_btn">
                <button id="btn_mask"       class="Button btn sm bg-blue">마스킹 해제</button>
            </div>
        </div>
        <div class="title-txt">사용자 상세정보 확인, 등록, 수정이 가능합니다.</div>
    </div>

    <div class="cont_body">
        <div id="base_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">기본정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                <tr>
                    <th>사용자 ID*</th>
                    <td>
                        <div class="input_wrap">
                            <input id="user_id" class="Textinput with_btn validation_tgt" data-check-result="ok" placeholder=""/>
                            <button id="btn_check_id" class="Button btn sm bg-red" data-disabled="true">확인</button>
                            <p class="validation_msg"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>이름*</th>
                    <td>
                        <input id="user_nm" class="Textinput validation_tgt" placeholder=""/>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                <tr>
                    <th>권한*</th>
                    <td>
                        <select id="user_privilege" name="user_privilege" class="Select Select_c validation_tgt"
                                data-bind-option="value:text"
                                data-bind="options:data, selectedOptions: option_selected"
                                data-placeholder="선택"></select>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                <!--
                <tr>
                    <th>Noti(이메일)</th>
                    <td>
                        <input id="user_notiAddr" class="Textinput validation_tgt" placeholder=""/>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td>
                        <input id="user_contact" class="Textinput validation_tgt" placeholder=""/>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                -->
                <tr>
                    <th>설명</th>
                    <td>
                        <input id="user_description" class="Textinput validation_tgt" placeholder=""/>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        <div id="enable_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">계정상태</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                <tr>
                    <th>활성여부*</th>
                    <td>
                        <select id="user_status" name="user_status" class="Select Select_c validation_tgt"
                                data-bind-option="value:text"
                                data-bind="options:data, selectedOptions: option_selected"
                                data-placeholder="선택"></select>
                        <p class="validation_msg"></p>
                    </td>
                </tr>
                <tr id="row_mfa_register_yn">
                    <th>2차인증 등록여부</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="history_info" class="table_wrap" style="display: none">
            <div class="con_title">
                <h3 class="sub-title">이력정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>최초생성자</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최초생성일시</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최종갱신자</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최종갱신일시</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최종로그인일시</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Button area -->
    <div class="btn-wrap btn-right">
        <button class="Button btn" id="btn_list">목록</button>
        <button class="Button btn" id="btn_change_pw">패스워드 변경</button>
        <button class="Button btn" id="btn_reset_pw">패스워드 리셋</button>
        <button class="Button btn" id="btn_init_mfa">2차인증 초기화</button>
        <button class="Button btn" id="btn_register_mfa">2차인증 등록</button>
        <button class="Button btn bg-red" id="btn_save">저장</button>
    </div>
</div>
<!-- //contents wrap-->
{% endblock %}