@CHARSET "UTF-8";
/*---------------------------------------
	base
---------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-family: "NotoKrR"; box-sizing: border-box; }

* { padding:0; margin:0; }
html, body { width:100%; height:100%; padding: 0; -webkit-text-size-adjust:none; font-size: 14px; color: #444444; }
button:focus, input:focus, a:focus { outline:none; }
a, a:hover, a:visited, a:active { color: #444444; text-decoration:none;}
a img, fieldset { border:0; }
.blind, caption { font-size:0;  line-height:0;  text-indent:-10000px; }
ul, li { list-style: none }
em { font-style: normal; }
/* Placeholder */
::-webkit-input-placeholder { color:#aaaaaa; }
::-moz-placeholder { color:#aaaaaa; }
:-ms-input-placeholder { color:#aaaaaa; }
input:-moz-placeholder { color:#aaaaaa; }


/*---------------------------------------
	font
---------------------------------------*/
@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 200;
	src: /*url(../../fonts/NotoSansKR-Light-Hestia.woff2) format('woff2'),*/
		 url(../fonts/NotoSans-Light.eot),
		 url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/NotoSans-Light.woff) format('woff'),
		 url(../fonts/NotoSans-Light.otf) format('opentype');
}
@font-face {
	font-family: 'NotoKrR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Regular'),
	     local('NotoSans-Regular'),
	     url(../fonts/NotoSans-Regular.eot);
	src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/NotoSans-Regular.woff2) format('woff2'),
	     url(../fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'NanumGothicCoding';
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/NanumGothicCoding.eot),
		 url(../fonts/NanumGothicCoding.eot?#iefix) format('embedded-opentype'),
		 url(../fonts/NanumGothicCoding.woff) format('woff'),
		 url(../fonts/NanumGothicCoding.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumGothicCoding';
	font-style: normal;
	font-weight: 300;
	src: local('Nanum Gothic Coding'),
	     local('NanumGothicCoding'),
	     url(../fonts/NanumGothicCoding.eot);
	src: url(../fonts/NanumGothicCoding.eot?#iefix) format('embedded-opentype'),
	     url(../fonts/NanumGothicCoding.woff2) format('woff2'),
	     url(../fonts/NanumGothicCoding.woff) format('woff');
}

.font-ngc { font-family: "NanumGothicCoding"; } /* Nanum Gothic Coding */


/*---------------------------------------
	CodeMirror
---------------------------------------*/
.CodeMirror * {
    font-family: NanumGothicCoding;
}


/*---------------------------------------
	Table
---------------------------------------*/
/* Table td */
.long_value_ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }


/*---------------------------------------
	select box
---------------------------------------*/
.Select_c,
.Select_c:hover,
.Select_c:active,
.Select_c.ui-state-active,
.Select_c.ui-multiselect {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	cursor: pointer;
	cursor: pointer;
    padding: 5px 30px 5px 10px;
    height: 34px;
    font-size: 1.0rem;
    color: #666666;
    vertical-align: middle;
    border: 1px solid #cccccc;
    background: #ffffff url("../images/ico-select.png") no-repeat right center;
    border-radius: 0;
}

.Select_c::-ms-expand { display:none; }

.Select_c.Disabled, .Select_c.Disabled:hover {
	border: 1px solid #cccccc;
	background: #ebebeb;
}

/*---------------------------------------
	input box
---------------------------------------*/
.textinput_c {
    border:1px solid #cccccc;
    height: 34px;
}

/*---------------------------------------
	checkbox
---------------------------------------*/
.checkbox_c { margin-right: 3px; }

/*---------------------------------------
	radio
---------------------------------------*/
.radio_c { margin-right: 3px; }

/*---------------------------------------
	label
---------------------------------------*/
.label_radio + .label_radio { margin-left: 10px;}

/*---------------------------------------
	button
---------------------------------------*/
/* common button style */
.Button.btn { padding: 0 15px; min-width: 120px; height: 48px; font-size: 1.14rem; line-height: 42px; background: #ffffff; color: #666666; border: 1px solid #cccccc; border-radius: 3px; }
.Button.btn { margin: 0px 4px 0px 0px;/* margin: 0 4px */ } /* top right bottom left */
.Button.btn:hover,
.Button.btn:active,
.Button.btn.Checked { background: #eeeeee; border: 1px solid #cccccc; }
.Button.btn.bg-red { color: #ffffff; background: #ea0530; border: 1px solid #ea0530; }
.Button.btn.bg-red:hover,
.Button.btn.bg-red:active,
.Button.btn.bg-red.Checked { background: #d72340; border: 1px solid #d72340; }
.Button.btn.Disabled,
.Button.btn.Disabled:hover { color: #bbbbbb; background: #eeeeee; border: 1px solid #dddddd; }
.Button.btn.bg-gray { color: #ffffff; background: #999999 !important; border: 1px solid #999999 !important;}
.Button.btn.bg-gray:hover,
.Button.btn.bg-gray:active,
.Button.btn.bg-gray.Checked { background: #666666 !important; border: 1px solid #666666 !important;}
.Button.btn.bg-grayW { color: #666; background: #eee; border: 1px solid #ccc; }
.Button.btn.bg-grayW:hover,
.Button.btn.bg-grayW:active,
.Button.btn.bg-grayW.Checked { background: #ccc; color:#222; border: 1px solid #ccc;}
.Button.btn.bg-blue { color: #ffffff; background: #4180bb; border: 1px solid #4180bb; }
.Button.btn.bg-blue:hover,
.Button.btn.bg-blue:active,
.Button.btn.bg-blue.Checked { background: #025099; border: 1px solid #025099;}
.Button.btn.bg-green { color: #ffffff; background: #0C8E45; border: 1px solid #0C8E45; }
.Button.btn.bg-green:hover,
.Button.btn.bg-green:active,
.Button.btn.bg-green.Checked { background: #0D7A3D; border: 1px solid #0D7A3D;}
.Button.btn.bg-change { color: #ffffff; background: #4180bb; border: 1px solid #4180bb; }
.Button.btn.bg-change:hover,
.Button.btn.bg-change:active,
.Button.btn.bg-change.Checked { background: #ea0530; border: 1px solid #ea0530;}

.Button.btn.btn_line { color: #444; background: #fff; border: 1px solid #707070; font-size: 15px;}
.Button.btn.btn_line:hover,
.Button.btn.btn_line:active,
.Button.btn.btn_line.Checked { background: #eee; color:#444; }
.Button.btn.btn_line.icon { padding-right: 30px; padding-left: 20px; width: 150px; }
.Button.btn.btn_line.icon .icon_arrow { position: absolute; right: 20px; top: 50%; margin-top: -5px; }

/* btn size */
.btn.sm            { min-width: 70px; height: 34px; font-size: 1.07rem; line-height: 32px; margin: 0 0px}
.btn.big           { min-width: 100px; height: 70px; font-size: 1.07rem; text-align: center; line-height: 66px; padding: 0;}
.btn.btn_sm        { padding: 3px 10px 5px; min-width: auto; font-size: 14px; height:30px; line-height: 22px;}
.btn.btn_sx        { padding: 1px 10px 0; min-width: auto; font-size: 12px; height:20px; line-height: 16px;}
.btn.btn_grid      { padding: 0px 10px 0; min-width: auto; font-size: 13px; height:25px; line-height: 21px;}
.btn.btn_msg_popup { padding: 0px 10px 0; min-width: auto; font-size: 11px; height:20px; line-height: 18px;}

/* btn round */
.btn.btn_round { border-radius: 24px;}

/* Button in Input Box right */
.Button.input { float: right; margin: 0px; padding: 0px 0px; display: inline; width: 34px; height:34px; background: #CCCCCC; border-radius: 0;}

/* icon btn */
.Button.btn-ico { margin: 0 2px 0 1px; width: 30px; height: 30px; text-indent: -9999px; border: 1px solid #cccccc; border-radius: 2px; background-color: #ffffff; cursor: pointer; }
.Button.btn-ico.sm  { width: 26px; height: 26px; }
.Button.btn-ico.sx  { width: 18px; height: 18px; }
.Button.btn-ico.sxx { width: 13px; height: 13px; padding: 0px; }
.Button.btn-ico.borderless  { border: 0px; background-color: transparent }
/* .Button.btn-ico.btn-help    { margin: 2px 0px 0px 0px; } */

/* Nav(Prev/Next) btn */
.Button.btn-nav { width: 25px; height: 85px; padding: 0px; text-indent: -9999px; border: 0px; cursor: pointer; }
.Button.btn-nav.prev { margin: 0px 12px; }
.Button.btn-nav.next { margin: 0px 12px; }

/* Advanced Search(open/close) btn */
.Button.btn-adv { width: 416px; height: 16px; padding: 0px; text-indent: -9999px; border: 0px; vertical-align: baseline; cursor: pointer; }

.btn-ico.btn-refresh { background: #fff url("../images/ico-refresh.png") no-repeat center center;}
.btn-ico.btn-refresh:hover,
.btn-ico.btn-refresh:active { background: #eee url("../images/ico-refresh-hover.png") no-repeat center center;}
.btn-ico.btn-add { background: #fff url("../images/ico-add.png") no-repeat center center;}
.btn-ico.btn-add:hover,
.btn-ico.btn-add:active { background: #eee url("../images/ico-add-hover.png") no-repeat center center;}
.btn-ico.btn-del { background: #fff url("../images/ico-del.png") no-repeat center center;}
.btn-ico.btn-del:hover,
.btn-ico.btn-del:active { background: #eee url("../images/ico-del-hover.png") no-repeat center center;}
.btn-ico.btn-save  {background: #fff url("../images/ico-save.png") no-repeat center center;}
.btn-ico.btn-save:hover,
.btn-ico.btn-save:active { background: #eee url("../images/ico-save-hover.png") no-repeat center center;}
.btn-check_view  {background: #fff url("../images/ico-view.png") no-repeat center center;}
.btn-check_view:hover,
.btn-check_view:active { background: #eee url("../images/ico-view-hover.png") no-repeat center center;}
.btn-filter  {background: #fff url("../images/ico_filter.png") no-repeat center center;}
.btn-filter:hover,
.btn-filter:active { background: #eee url("../images/ico_filter-hover.png") no-repeat center center;}
.btn-grid  {background: #fff url("../images/ico-grid.png") no-repeat center center;}
.btn-grid:hover,
.btn-grid:active { background: #eee url("../images/ico-grid-hover.png") no-repeat center center;}
.btn-ip  {background: #fff url("../images/ico-ip.png") no-repeat center center;}
.btn-ip:hover,
.btn-ip:active { background: #eee url("../images/ico-ip-hover.png") no-repeat center center;}
.btn-list  {background: #fff url("../images/ico-order.png") no-repeat center center;}
.btn-list:hover,
.btn-list:active { background: #eee url("../images/ico-order-hover.png") no-repeat center center;}
.btn-move  {background: #fff url("../images/ico-move.png") no-repeat center center;}
.btn-move:hover,
.btn-move:active { background: #eee url("../images/ico-move-hover.png") no-repeat center center;}
.btn-setting  {background: #fff url("../images/ico-setting.png") no-repeat center center;}
.btn-setting:hover,
.btn-setting:active { background: #eee url("../images/ico-setting-hover.png") no-repeat center center;}
.btn-upload  {background: #fff url("../images/ico-excelup.png") no-repeat center center;}
.btn-upload:hover,
.btn-upload:active { background: #eee url("../images/ico-excelup-hover.png") no-repeat center center;}
.btn-down  {background: #fff url("../images/ico-exceldown.png") no-repeat center center;}
.btn-down:hover,
.btn-down:active { background: #eee url("../images/ico-exceldown-hover.png") no-repeat center center;}
.btn-template-down  {background: #fff url("../images/ico-templatedown.png") no-repeat center center;}
.btn-template-down:hover,
.btn-template-down:active { background: #eee url("../images/ico-templatedown-hover.png") no-repeat center center;}
.btn-ico.btn-copy  {background: #fff url("../images/ico-copy.png") no-repeat center center;}
.btn-ico.btn-copy:hover,
.btn-ico.btn-copy:active { background: #eee url("../images/ico-copy-hover.png") no-repeat center center;}
.btn-user_add  {background: #fff url("../images/ico-adduser.png") no-repeat center center;}
.btn-user_add:hover,
.btn-user_add:active { background: #eee url("../images/ico-adduser-hover.png") no-repeat center center;}
.btn-user_check  {background: #fff url("../images/ico-useractive.png") no-repeat center center;}
.btn-user_check:hover,
.btn-user_check:active { background: #eee url("../images/ico-useractive-hover.png") no-repeat center center;}
.btn-user_lock  {background: #fff url("../images/ico-userlock.png") no-repeat center center;}
.btn-user_lock:hover,
.btn-user_lock:active { background: #eee url("../images/ico-userlock-hover.png") no-repeat center center;}
.btn-usergrp_add {background: #fff url("../images/ico-addusergrp.png") no-repeat center center;}
.btn-usergrp_add:hover,
.btn-usergrp_add:active { background: #eee url("../images/ico-addusergrp-hover.png") no-repeat center center;}
.btn-arrow_right { background: #fff url("../images/ico-arrow-right.png") no-repeat center center;}
.btn-arrow_right:hover,
.btn-arrow_right:active { background: #eee url("../images/ico-arrow-right-hover.png") no-repeat center center;}
.btn-arrow_left { background: #fff url("../images/ico-arrow-left.png") no-repeat center center;}
.btn-arrow_left:hover,
.btn-arrow_left:active { background: #eee url("../images/ico-arrow-left-hover.png") no-repeat center center;}
.btn-arrow_up { background: #fff url("../images/ico-arrow-up.png") no-repeat center center;}
.btn-arrow_up:hover,
.btn-arrow_up:active { background: #eee url("../images/ico-arrow-up-hover.png") no-repeat center center;}
.btn-arrow_down { background: #fff url("../images/ico-arrow-down.png") no-repeat center center;}
.btn-arrow_down:hover,
.btn-arrow_down:active { background: #eee url("../images/ico-arrow-down-hover.png") no-repeat center center;}
.btn-prev_page { background: #fff url("../images/prev-page.png") no-repeat center center;}
.btn-prev_page:hover,
.btn-prev_page:active { background: #fff url("../images/prev-page-hover.png") no-repeat center center;}
.btn-next_page { background: #fff url("../images/next-page.png") no-repeat center center;}
.btn-next_page:hover,
.btn-next_page:active { background: #fff url("../images/next-page-hover.png") no-repeat center center;}
.btn-help { background: #fff url("../images/ico-help.png") no-repeat center center; /* width: 15px; height: 15px; */ }
.btn-help:hover,
.btn-help:active { background: #fff url("../images/ico-help-hover.png") no-repeat center center;}
.btn-adv_search_open { background: #fff url("../images/adv-search-open.png") no-repeat center center;}
.btn-adv_search_open:hover,
.btn-adv_search_open:active { background: #fff url("../images/adv-search-open-hover.png") no-repeat center center;}
.btn-adv_search_close { background: #fff url("../images/adv-search-close.png") no-repeat center center;}
.btn-adv_search_close:hover,
.btn-adv_search_close:active { background: #fff url("../images/adv-search-close-hover.png") no-repeat center center;}
.btn-plus { background: transparent url("../images/tree-grid.png") no-repeat 0px 0px; }
.btn-plus:hover,
.btn-plus:active { background: transparent url("../images/tree-grid.png") no-repeat 0px 0px; }
.btn-plus2 { background: transparent url("../images/tree-grid.png") no-repeat -18px 0px; }
.btn-plus2:hover,
.btn-plus2:active { background: transparent url("../images/tree-grid.png") no-repeat -18px 0px; }
.btn-minus { background: transparent url("../images/tree-grid.png") no-repeat 0px -30px; }
.btn-minus:hover,
.btn-minus:active { background: transparent url("../images/tree-grid.png") no-repeat 0px -30px; }
.btn-minus2 { background: transparent url("../images/tree-grid.png") no-repeat -18px -30px; }
.btn-minus2:hover,
.btn-minus2:active { background: transparent url("../images/tree-grid.png") no-repeat -18px -30px; }
/*
.btn-toggle_open { background: transparent url("../images/btn-toggle-open.png") no-repeat center center;}
.btn-toggle_open:hover,
.btn-toggle_open:active { background: transparent url("../images/btn-toggle-open-hover.png") no-repeat center center;}
.btn-toggle_close { background: transparent url("../images/btn-toggle-close.png") no-repeat center center;}
.btn-toggle_close:hover,
.btn-toggle_close:active { background: transparent url("../images/btn-toggle-close-hover.png") no-repeat center center;}
*/


/*---------------------------------------
	Icon css
---------------------------------------*/
.icon_search       { display: inline-block; position: relative; top: -2px; left: 2px;   width: 14px; height: 15px; vertical-align: middle; margin-right: 8px; background: url("../images/ico-search.png") no-repeat; }
.icon_search_input { display: inline-block; position: relative; top: -2px; width: 14px; height: 16px; vertical-align: middle; margin-right: 0px; background: url("../images/ico-search.png") no-repeat; }
.icon_eye          { display: inline-block; position: relative; top: 7px;  left: 4px; width: 21px; height: 21px; background: url("../images/ico-eye.png") no-repeat;       }
.icon_eye_hide     { display: inline-block; position: relative; top: 7px;  left: 4px; width: 21px; height: 21px; background: url("../images/ico-eye-hide.png");  }

.icon_arrow_s, .icon_arrow_l_s, .icon_arrow_up_s, .icon_arrow_down_s,
.icon_arrow, .icon_arrow_l, .icon_arrow_up, .icon_arrow_down,
.icon_del_s, .icon_pin { position: relative; display: inline-block; }
.icon_arrow_s:after, .icon_arrow_l_s:after, .icon_arrow_up_s:after, .icon_arrow_down_s:after,
.icon_arrow:after, .icon_arrow_l:after, .icon_arrow_up:after, .icon_arrow_down:after,
.icon_del_s:after, .icon_pin:after  { content: ""; display: block; }

.icon_arrow_s:after      { width: 5px;  height: 8px;  background: url("../images/ico-arrow-right.png");}
.icon_arrow_l_s:after    { width: 5px;  height: 8px;  background: url("../images/ico-arrow-left.png"); }
.icon_arrow_up_s:after   { width: 8px;  height: 5px;  background: url("../images/ico-arrow-up.png");   }
.icon_arrow_down_s:after { width: 8px;  height: 5px;  background: url("../images/ico-arrow-down.png"); }
.icon_arrow:after        { width: 6px;  height: 10px; background: url("../images/arrow-right.png");    }
.icon_arrow_l:after      { width: 6px;  height: 10px; background: url("../images/arrow-left.png");     }
.icon_arrow_up:after     { width: 10px; height: 6px;  background: url("../images/arrow-up.png");       }
.icon_arrow_down:after   { width: 10px; height: 6px;  background: url("../images/arrow-down.png");     }
.icon_del_s:after        { width: 10px; height: 10px; background: url("../images/icon_del_s.png");     }
.icon_pin:after          { width: 16px; height: 16px; background: url("../images/icon_pin.png");       }


/*---------------------------------------
	Alopex Grid css
---------------------------------------*/
/* Icon in Alopex Grid Cell */
.grid_icon                   { display: inline-block; width: 100%; height: 100%; }
.grid_icon:after             { content: ""; display: block; width: 100%; height: 100%; }
.grid_icon.ico_dir:after     { background: url("../images/ico-directory.png") no-repeat center 30%; }
.grid_icon.ico_file:after    { background: url("../images/ico-file.png")      no-repeat center 30%; }
.grid_icon.ico_caution:after { background: url("../images/ico-caution.png")   no-repeat center 30%; }

/* Alopex Grid CheckBox */
.grid_checkbox { margin-top: 0px !important; }

/* Alopex Grid Tooltip */
.grid_tooltip { position: absolute; z-index: 999999; /* top: 300px; left: 300px; */ }
.grid_message {
    position: absolute;
    padding: 4px;
    z-index: 999999;
    font-size: 15px;
    /* color: #eb0530; */
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    letter-spacing: -0.05em;
}

/* Alopex Grid Disable Row */
.grid_disable_row { background-color: #dddddd !important; }
/* .grid_cancel_line { text-decoration: line-through; } */
