{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/sample/color.js') }}"></script>
{% endblock %}

{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- sub title -->
    <div class="cont_head">
        <h2 class="title">COLOR</h2>
        <div class="title-txt">RGB 색상 입력하여 확인할 수 있습니다.</div>
    </div>

    <div class="cont_body">
        <div class="search_wrap">
            <div class="con_title">
                <h3 class="sub-title">RGB 입력</h3>
            </div>
            <div class="search_box">
                <div style='display:inline-block;'>RGB COLOR</div>
				<div style='display:inline-block;'>
                    <input id='i_rgb' type ='text' class='Textinput textinput_c' placeholder="#000000"/>
                    <button class='Button btn sm' id='btn_init'>초기화</button>
                    <button class='Button btn sm bg-red' id='btn_sel'>조회</button>
                </div>
            </div>
        </div>

        <div class="search_table_wrap">
            <div class="con_title">
                <h3 class="sub-title">결과</h3>
            </div>
            <div id="r_color" style="display:inline-block; height:100px; width:500px; border:1px solid;"></div>
        </div>
    </div>

</div>
{% endblock %}