{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/task/dctnry_lst.js') }}"></script>
<script type="text/javascript">
{% if response is defined %}
var response = JSON.parse('{{ response | tojson }}');
{% endif %}
</script>
{% endblock %}
{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- top area -->
    <div class="cont_head">
        <h2 class="title">단어사전 목록</h2>
        <div class="title-txt">단어사전에 등록된 명령어를 조회합니다.</div>
    </div>

    <div class="cont_body">
        <div class="search_wrap">
            <div class="con_title">
                <h3 class="sub-title">조회 조건</h3>
            </div>
            <div class="search_table_wrap">
                <div class="search_area_title" style="display : none">NO</div>
                <div class="search_area_input" style="display : none">
                    <input type="text" id="dctnry_voca_no" name="dctnry_voca_no" class="Textinput textinput_c w120px" placeholder=""/>
                </div>
                <div class="search_area_title">단어명</div>
                <div class="search_area_input">
                    <input type="text" id="dctnry_word" name="dctnry_word" class="Textinput textinput_c w120px" placeholder="SubStr."/>
                </div>
                <div class="search_area_title">구분</div>
                <div class="search_area_input">
                    <select id="dctnry_type" name="dctnry_type" class="Select Select_c" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                </div>
                <div class="search_area_init_btn">
                    <button id="btn_init" name="btn_sel" class='Button btn sm'>초기화</button>
                </div>
                <div class="search_area_sel_btn">
                    <button id="btn_sel" name="btn_sel" class='Button btn sm bg-red'><span class='icon_search'></span>조회</button>
                </div>
            </div>
        </div>

        <div class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">조회 결과</h3>
                <div class="btn-right">
                    <div class="tip_btn">
                        <button class="Button btn-ico btn-add" id="btn_add_dctnry">추가/등록</button>
                        <div class="Tooltip">추가/등록</div>
                    </div>
                    <div class="tip_btn">
                        <button class="Button btn-ico btn-del" id="btn_del_dctnry">삭제</button>
                        <div class="Tooltip">삭제</div>
                    </div>
                </div>
            </div>
            <div class="list" id="dctnry_grid"></div>
        </div>
    </div>
</div>
<!-- //contents wrap-->
{% endblock %}