{% extends "common.html" %}
{% block page_resource %}
<script src="{{ url_for('static', filename='js/system/acckey_dtl.js') }}"></script>
<script type="text/javascript">
{% if response is defined %}
var response = JSON.parse('{{ response|tojson }}');
{% endif %}
</script>
{% endblock %}

{% block page_content %}
<!-- contents -->
<div class="contents-area">
    <!-- top area -->
    <div class="cont_head">
        <h2 class="title">액세스 키 정보</h2>
        <div class="title-txt">액세스 키 상세정보 확인, 추가, 변경(super-user 한정)이 가능합니다.</div>
    </div>

    <div class="cont_body">
        <div id="base_info" class="table_wrap">
            <div class="con_title">
                <h3 class="sub-title">기본정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td><input id="id" name="id" class="Textinput with_btn" placeholder=""/></td>
                    </tr>
                    <tr>
                        <th>이름*</th>
                        <td>
                            <input id="name" name="name" class="Textinput with_btn validation_tgt" placeholder=""/>
                            <p class="validation_msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>소유자 ID*</th>
                        <td>
                            <div class="input_wrap">
                                <input id="owner_id" name="owner_id" class="Textinput validation_tgt" placeholder=""/>
                                <button id="btn_sel_owner_id" name="btn_sel_owner_id" class='Button input'><span class='icon_search_input'></span></button>
                                <p class="validation_msg"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>IP 주소*</span>
                            <!--
                            absolute position 인 Alopex Tooltip 의 경우, 상위 요소가 relative 인 경우 정상 위치에 rendering 되지 않음.
                            Alopex 에 의해서 자동 생성되는 상위 요소인 Alopex Table 을 강제로 static 으로 변경함.
                            -->
                            <div class="tip_btn">
                                <button class="Button btn-ico sx borderless btn-help">도움말</button>
                                <div class="Tooltip help">
                                    이 IP 주소 범위에 속하는 소스의 트래픽만 허용됩니다.<br/>
                                    범위를 입력할 때 CIDR 표기법을 사용하세요.<br/>
                                </div>
                            </div>
                        </th>
                        <td>
                            <input id="ip_addr" name="ip_addr" class="Textinput validation_tgt" placeholder="예: 192.168.5.0/24"/>
                            <p class="validation_msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>만료일자*</th>
                        <td>
                            <div class="Dateinput" data-default-date="false">
                                <input id="expiry_date" name="expiry_date" class="validation_tgt"/>
                                <div class="Calendar"></div>
                            </div>
                            <div class="time_input_wrap">
                                <select id="expiry_hour" name="expiry_hour" class="Select Select_c validation_tgt" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            </div>
                            <div class="time_unit_label">시</div>
                            <div class="time_input_wrap">
                                <select id="expiry_minute" name="expiry_minute" class="Select Select_c validation_tgt" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            </div>
                            <div class="time_unit_label">분</div>
                            <div class="time_input_wrap">
                                <select id="expiry_second" name="expiry_second" class="Select Select_c validation_tgt" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            </div>
                            <div class="time_unit_label">초</div>
                            <!--div class="time_unit_label">Timezone</div-->
                            <div class="time_input_wrap">
                                <select id="expiry_timezone" name="expiry_timezone" class="Select Select_c validation_tgt" data-bind-option="value:text" data-bind="options:data, selectedOptions: option_selected"></select>
                            </div>
                            <p class="validation_msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>상태</th>
                        <td>
                            <select id="status" name="status" class="Select Select_c"
                                    data-bind-option="value:text"
                                    data-bind="options:data, selectedOptions: option_selected"
                                    data-placeholder="선택"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="history_info" class="table_wrap" style="display: none;">
            <div class="con_title">
                <h3 class="sub-title">이력정보</h3>
            </div>
            <table class="Table Form-type">
                <colgroup>
                    <col class="w150px">
                    <col class="wAuto">
                </colgroup>
                <tbody>
                    <tr>
                        <th>최초생성자</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최초생성일시</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최종변경자</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>최종변경일시</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Button area -->
        <div class="btn-wrap btn-right">
            <button class="Button btn" id="btn_list_acckey">목록</button>
            <button class="Button btn bg-red" id="btn_save_acckey">저장</button>
        </div>
    </div>
</div>
<!-- //contents -->
{% endblock %}